<h1>Edit Account</h1>
<div id="editUserForm" class="col-md-4">
<form action="/users" method="post">
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<input name="_method" value="PATCH" type="hidden">
  <div class="form-group">
    <label for="exampleInputEmail1">First Name</label>
    <input type="text" class="form-control" name="user[first]" value="<%= @user.first %>">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Last Name</label>
    <input type="text" class="form-control" name="user[last]" value="<%= @user.last %>">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="text" class="form-control" name="user[email]" value="<%= @user.email %>">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Dental Office</label>
    <input type="text" class="form-control" name="user[office]" value="<%= @user.office %>">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">City</label>
    <input type="text" class="form-control" name="user[city]" value="<%= @user.city %>">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">State</label>
    <input type="text" class="form-control" name="user[state]" value="<%= @user.state %>">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Phone Number</label>
    <input type="text" class="form-control" name="user[phone]" value="<%= @user.phone %>">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Password</label>
    <input type="password" class="form-control" name="user[password]" value="<%= @user.password %>">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Password Confirmation</label>
    <input type="password" class="form-control" name="user[password_confirmation]">
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
</div>