<style>
	td{
		padding: 1%;
	}
	.cart-div{
		overflow: scroll;
	}
	.cart-div::-webkit-scrollbar{
	  display: none;
	}
	.formRow{
		/*margin-top: 5%;*/
	}
	table{
		width: 778px;
	}
	thead tr td{
		padding: 1%;
	}
	.green{
		color: green;
	}
	.quant{
		width: 45px
	}
	.btn-danger{
		margin-top: 3%;
	}
	.cartRow .btn{
		width: 142px;
	}
	.cartRow{
		display: block;
	}
	.cell{
		display: inline-block;
	    width: 83px;
	    height: 50px;
	    margin: 1%;
	    vertical-align: top;
	}
	.cart-div form{
		display: inline;
	}
	.cartTable{
		height: 810px;
		overflow: scroll;
		font-size: .85em;
    	overflow-wrap: break-word;
	}
	.selected{
    background-color: #d9edf7;
	}
	.cart-div form button{
    background:none!important;
     border:none; 
     padding:0!important;
     text-decoration:none;
     cursor:pointer;
	}
	.cart-div.btn{
		width: 142px;
	}
	.red{
		color: #c9302c;
	}
	#instructions form{
		display: inline;
	}
	#instructions button{
		display: inline;
	}
	.formP{
		display: inline;
	}
</style>
<div class="table-responsive cart-div">
	<% if @c.products.empty? %>
	<h2>Your Cart is Empty</h2>
	<% else %>
	<h1>Your Cart</h1>
	<div id="instructions"><p>Click a price to change distributor to your cart</p>
		<p>Click a distributor to get all products from that distributor</p>
		<p class="formP">Click <form method="post" action="whole_cheap"><input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden"><input type="hidden"name="_method" value="patch"><button class="green">here</button></form> to get the cheapest price from multiple distributors</p>
	</div>
	<div class="cartTable">
			<div class="cartRow">
				<span class="cell">Name</span>
				<span class="cell">Manufacturer</span>
				<span class="cell">Manufacturer Number</span>
				<span class="cell">
						<form method="post" action="whole_dist/1">
						<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
						<input name="distributor" value="Patterson Dental" type="hidden">
			          	<input type="hidden"name="_method" value="patch">
						<button>Patterson Price</button>
						</form>
				</span>
				<span class="cell">
						<form method="post" action="whole_dist/2">
						<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
						<input name="distributor" value="Safco Dental" type="hidden">
			          	<input type="hidden"name="_method" value="patch">
						<button>Safco Price</button>
						</form>
				</span>
				<span class="cell">
						<form method="post" action="whole_dist/3">
						<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
						<input name="distributor" value="Darby Dental" type="hidden">
			          	<input type="hidden"name="_method" value="patch">
						<button>Darby Price</button>
						</form>
				</span>
				<span class="cell">
						<form method="post" action="whole_dist/4">
						<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
						<input name="distributor" value="Henry Schein" type="hidden">
			          	<input type="hidden"name="_method" value="patch">
						<button>Schein Price</button>
						</form>
				</span>
				<span class="cell">
						<form method="post" action="whole_dist/5">
						<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
						<input name="distributor" value="Benco Dental" type="hidden">
			          	<input type="hidden"name="_method" value="patch">
						<button>Benco Price</button>
						</form>
				</span>
				<span class="cell">Quantity</span>
				<span class="cell">Your Cart</span>
				<span class="cell">Action</span>
			</div>
			<% checkArr = [] %>
			<% @total = 0 %>
			<% @pattTotal = 0 %>
			<% @safTotal = 0 %>
			<% @darbTotal = 0 %>
			<% @henryTotal = 0 %>
			<% @benTotal = 0 %>
			<% @c.products.each do |p| %>
			<% min = (p.price.to_f * p.quantity).round(2) %>
			<% countarr = [] %>
			<% p.prices.each do |r| %>
				<% countarr << r.distributor %>
				<% if (r.price.to_f * p.quantity).round(2) < min %>
				<% min = (r.price.to_f * p.quantity).round(2) %>
				<% end %>
			<% end %>
			<div class="cartRow">
			<span class="cell"><a href='/products/<%= p.distributor_number %>/<%= p.name %>/<%= p.manufacturer %>/<%= p.manufacturer_number %>'><%= p.name %></a></span>
			<span class="cell"><%= p.manufacturer %></span>
			<span class="cell"><%= p.manufacturer_number %></span>
				<% count = 0 %>
				<% p.prices.each do |r| %>
				<% if r.distributor == '1' %>
				<% count += 1 %>
				<% @pattTotal += (r.price.to_f * p.quantity.to_i) %>
					<% if p.distributor == 'Patterson Dental' %>
					<span class="cell selected">
						<form method="post" action="dist_change/<%= p.id %>">
						<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			          	<input type="hidden"name="_method" value="patch">
			          	<input type="hidden" name="price" value="<%= r.price %>">
			          	<input type="hidden" name="distributor" value="Patterson Dental">
			          	<input type="hidden" name="quantity" value="<%= p.quantity %>" class="quant">
						<% if min == (r.price.to_f * p.quantity).round(2) %>
							<button><span class="green">$<%= number_with_precision(r.price.to_f * p.quantity.to_i, :precision => 2) %></span></button>
						<% else %>
							<button>$<%= number_with_precision(r.price.to_f * p.quantity.to_i, :precision => 2) %></button>
						<% end %>
						</form>
					</span>
				<% else %>
				<span class="cell">
					<form method="post" action="dist_change/<%= p.id %>">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		          	<input type="hidden"name="_method" value="patch">
		          	<input type="hidden" name="price" value="<%= r.price %>">
		          	<input type="hidden" name="distributor" value="Patterson Dental">
		          	<input type="hidden" name="quantity" value="<%= p.quantity %>" class="quant">
						<% if min == (r.price.to_f * p.quantity).round(2) %>
							<button><span class="green">$<%= number_with_precision(r.price.to_f * p.quantity.to_i, :precision => 2) %></span></button>
						<% else %>
							<button>$<%= number_with_precision(r.price.to_f * p.quantity.to_i, :precision => 2) %></button>
						<% end %>
					</form>
				<% end %>
				</span>
				<% end %>
				<% end %>
				<% if count == 0 %>
					<span class="cell red">N/A</span>
					<% count += 1 %>
				<% end %>
				<% p.prices.each do |r| %>
				<% if r.distributor == '2' %>
				<% count += 1 %>
				<% @safTotal += (r.price.to_f * p.quantity.to_i) %>
					<% if p.distributor == 'Safco Dental' %>
					<span class="cell selected">
						<form method="post" action="dist_change/<%= p.id %>">
						<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			          	<input type="hidden"name="_method" value="patch">
			          	<input type="hidden" name="price" value="<%= r.price %>">
			          	<input type="hidden" name="distributor" value="Safco Dental">
			          	<input type="hidden" name="quantity" value="<%= p.quantity %>" class="quant">
						<% if min == (r.price.to_f * p.quantity).round(2) %>
							<button><span class="green">$<%= number_with_precision(r.price.to_f * p.quantity.to_i, :precision => 2) %></span></button>
						<% else %>
							<button>$<%= number_with_precision(r.price.to_f * p.quantity.to_i, :precision => 2) %></button>
						<% end %>
						</form>
					</span>
				<% else %>
				<span class="cell">
					<form method="post" action="dist_change/<%= p.id %>">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		          	<input type="hidden"name="_method" value="patch">
		          	<input type="hidden" name="price" value="<%= r.price %>">
		          	<input type="hidden" name="distributor" value="Safco Dental">
		          	<input type="hidden" name="quantity" value="<%= p.quantity %>" class="quant">
						<% if min == (r.price.to_f * p.quantity).round(2) %>
							<button><span class="green">$<%= number_with_precision(r.price.to_f * p.quantity.to_i, :precision => 2) %></span></button>
						<% else %>
							<button>$<%= number_with_precision(r.price.to_f * p.quantity.to_i, :precision => 2) %></button>
						<% end %>
					</form>
				<% end %>
				</span>
				<% end %>
				<% end %>
				<% if count == 1 %>
					<span class="cell red">N/A</span>
					<% count += 1 %>
				<% end %>
				<% p.prices.each do |r| %>
				<% if r.distributor == '3' %>
				<% count += 1 %>
				<% @darbTotal += (r.price.to_f * p.quantity.to_i) %>
					<% if p.distributor == 'Darby Dental' %>
					<span class="cell selected">
						<form method="post" action="dist_change/<%= p.id %>">
						<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			          	<input type="hidden"name="_method" value="patch">
			          	<input type="hidden" name="price" value="<%= r.price %>">
			          	<input type="hidden" name="distributor" value="Darby Dental">
			          	<input type="hidden" name="quantity" value="<%= p.quantity %>" class="quant">
						<% if min == (r.price.to_f * p.quantity).round(2) %>
							<button><span class="green">$<%= number_with_precision(r.price.to_f * p.quantity.to_i, :precision => 2) %></span></button>
						<% else %>
							<button>$<%= number_with_precision(r.price.to_f * p.quantity.to_i, :precision => 2) %></button>
						<% end %>
						</form>
					</span>
				<% else %>
				<span class="cell">
					<form method="post" action="dist_change/<%= p.id %>">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		          	<input type="hidden"name="_method" value="patch">
		          	<input type="hidden" name="price" value="<%= r.price %>">
		          	<input type="hidden" name="distributor" value="Darby Dental">
		          	<input type="hidden" name="quantity" value="<%= p.quantity %>" class="quant">
						<% if min == (r.price.to_f * p.quantity).round(2) %>
							<button><span class="green">$<%= number_with_precision(r.price.to_f * p.quantity.to_i, :precision => 2) %></span></button>
						<% else %>
							<button>$<%= number_with_precision(r.price.to_f * p.quantity.to_i, :precision => 2) %></button>
						<% end %>
					</form>
				<% end %>
				</span>
				<% end %>
				<% end %>
				<% if count == 2 %>
					<span class="cell red">N/A</span>
					<% count += 1 %>
				<% end %>
				<% p.prices.each do |r| %>
				<% if r.distributor == '4' %>
					<% count += 1 %>
				<% @henryTotal += (r.price.to_f * p.quantity.to_i) %>
					<% if p.distributor == 'Henry Schein' %>
					<span class="cell selected">
						<form method="post" action="dist_change/<%= p.id %>">
						<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			          	<input type="hidden"name="_method" value="patch">
			          	<input type="hidden" name="price" value="<%= r.price %>">
			          	<input type="hidden" name="distributor" value="Henry Schein">
			          	<input type="hidden" name="quantity" value="<%= p.quantity %>" class="quant">
						<% if min == (r.price.to_f * p.quantity).round(2) %>
							<button><span class="green">$<%= number_with_precision(r.price.to_f * p.quantity.to_i, :precision => 2) %></span></button>
						<% else %>
							<button>$<%= number_with_precision(r.price.to_f * p.quantity.to_i, :precision => 2) %></button>
						<% end %>
						</form>
					</span>
				<% else %>
				<span class="cell">
					<form method="post" action="dist_change/<%= p.id %>">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		          	<input type="hidden"name="_method" value="patch">
		          	<input type="hidden" name="price" value="<%= r.price %>">
		          	<input type="hidden" name="distributor" value="Henry Schein">
		          	<input type="hidden" name="quantity" value="<%= p.quantity %>" class="quant">
						<% if min == (r.price.to_f * p.quantity).round(2) %>
							<button><span class="green">$<%= number_with_precision(r.price.to_f * p.quantity.to_i, :precision => 2) %></span></button>
						<% else %>
							<button>$<%= number_with_precision(r.price.to_f * p.quantity.to_i, :precision => 2) %></button>
						<% end %>
					</form>
				<% end %>
				</span>
				<% end %>
				<% end %>
				<% if count == 3 %>
					<span class="cell red">N/A</span>
					<% count += 1 %>
				<% end %>
				<% p.prices.each do |r| %>
				<% if r.distributor == '5' %>
					<% count += 1 %>
				<% @benTotal += (r.price.to_f * p.quantity.to_i) %>
					<% if p.distributor == 'Benco Dental' %>
					<span class="cell selected">
						<form method="post" action="dist_change/<%= p.id %>">
						<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			          	<input type="hidden"name="_method" value="patch">
			          	<input type="hidden" name="price" value="<%= r.price %>">
			          	<input type="hidden" name="distributor" value="Benco Dental">
			          	<input type="hidden" name="quantity" value="<%= p.quantity %>" class="quant">
						<% if min == (r.price.to_f * p.quantity).round(2) %>
							<button><span class="green">$<%= number_with_precision(r.price.to_f * p.quantity.to_i, :precision => 2) %></span></button>
						<% else %>
							<button>$<%= number_with_precision(r.price.to_f * p.quantity.to_i, :precision => 2) %></button>
						<% end %>
						</form>
					</span>
				<% else %>
				<span class="cell">
					<form method="post" action="dist_change/<%= p.id %>">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		          	<input type="hidden"name="_method" value="patch">
		          	<input type="hidden" name="price" value="<%= r.price %>">
		          	<input type="hidden" name="distributor" value="Benco Dental">
		          	<input type="hidden" name="quantity" value="<%= p.quantity %>" class="quant">
						<% if min == (r.price.to_f * p.quantity).round(2) %>
							<button><span class="green">$<%= number_with_precision(r.price.to_f * p.quantity.to_i, :precision => 2) %></span></button>
						<% else %>
							<button>$<%= number_with_precision(r.price.to_f * p.quantity.to_i, :precision => 2) %></button>
						<% end %>
					</form>
				<% end %>
				</span>
				<% end %>
				<% end %>
				<% if count == 4 %>
					<span class="cell red">N/A</span>
					<% count = 0 %>
				<% end %>
			<% current = p.distributor %>
			<% if p.price == nil or p.quantity == nil %>
			<% else %>
			<% @finalPrice = (p.price.to_f * p.quantity).round(2) %>
			<% @total += @finalPrice %>
			<form method="post" action="carts/<%= p.id %>">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          	<input type="hidden"name="_method" value="patch">
			<span class="cell"><input type="number" name="quantity" value="<%= p.quantity %>" class="quant" min="1"></span>
			<% if min == (p.price.to_f * p.quantity).round(2) %>
			<span class="cell green">$<%= number_with_precision(p.price.to_f * p.quantity.to_i, :precision => 2) %></span>
			<% else %>
			<span class="cell">$<%= number_with_precision(p.price.to_f * p.quantity.to_i, :precision => 2) %></span>
			<% end %>
			<% end %>
			<span class="cell"><input type="submit" value="Update Quantity" class="btn btn-primary btn-sm">
			</form>
			<form method="post" action="carts/<%= p.id %>">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input type='hidden' name='_method' value='delete'>
			<input type="submit" value="Remove Item" class="btn btn-danger btn-sm">
			</form>
			</span>
		</div>
			<% end %>
			<div class="cartRow formRow">
				<span class="cell"></span>
				<span class="cell"></span>
				<span class="cell"></span>
				<span class="cell">Total: <br><span class="green"><%= number_to_currency(@pattTotal) %></span></span>
				<span class="cell">Total: <br><span class="green"><%= number_to_currency(@safTotal) %></span></span>
				<span class="cell">Total: <br><span class="green"><%= number_to_currency(@darbTotal) %></span></span>
				<span class="cell">Total: <br><span class="green"><%= number_to_currency(@henryTotal) %></span></span>
				<span class="cell">Total: <br><span class="green"><%= number_to_currency(@benTotal) %></span></span>
				<span class="cell"></span>
				<span class="cell">Total: <br><span class="green"><%= number_to_currency(@total) %></span></span>
				<span class="cell">
					<form action="/checkout" method="post">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<input name="id" value="<%= @c.id %>" type="hidden">
					<input type="submit" value="Check Out" class="btn btn-primary btn-sm">
					</form>
				</span>
			</div>
</div>
<% end %>
</div>
