<style>
	td{
		padding: 1%;
	}
	.cart-div{
		overflow: scroll;
	}
	.cart-div::-webkit-scrollbar{
	  display: none;
	}
	.formRow{
		margin-top: 5%;
	}
	table{
		width: 778px;
	}
	thead tr td{
		padding: 1%;
	}
	.green{
		color: green;
	}
	.quant{
		width: 45px
	}
	.btn-danger{
		margin-top: 3%;
	}
</style>
<div class="table-responsive cart-div">
	<% if @c.products.empty? %>
	<h2>Your Cart is Empty</h2>
	<% else %>
	<h1>Your Cart</h1>
	<table id="cartTable">
		<thead>
			<tr>
				<td>Name</td>
				<td>Distributor</td>
				<td>Manufacturer</td>
				<td>Manufacturer Number</td>
				<td>Price</td>
				<td>Quantity</td>
				<td>Action</td>
			</tr>
		</thead>
		<tbody>
			<% @total = 0 %>
			<% @c.products.each do |p| %>
			<tr>
			<td><%= p.name %></td>
			<td><%= p.distributor %></td>
			<td><%= p.manufacturer %></td>
			<td><%= p.manufacturer_number %></td>
			<% if p.price == nil %>
			<% else %>
			<% @finalPrice = (p.price.to_f * p.quantity).round(2) %>
			<% @total += @finalPrice %>
			<td>$<%= number_with_precision(p.price.to_f * p.quantity.to_i, :precision => 2) %></td>
			<% end %>
			<form method="post" action="carts/<%= p.id %>">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          	<input type="hidden"name="_method" value="patch">
			<td><input type="number" name="quantity" value="<%= p.quantity %>" class="quant"></td>
			<td><input type="submit" value="Update Quantity" class="btn btn-primary btn-sm">
			</form>
			<form method="post" action="carts/<%= p.id %>">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input type='hidden' name='_method' value='delete'>
			<input type="submit" value="Remove Item" class="btn btn-danger btn-sm">
			</form>
			</td>
			<% end %>
			</tr>
			<tr class="formRow">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>Total: <span class="green"><%= number_to_currency(@total) %></span></td>
				<td>
					<form action="/checkout" method="post">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<input name="id" value="<%= @c.id %>" type="hidden">
					<input type="submit" value="Check Out" class="btn btn-primary btn-sm">
					</form>
				</td>
			</tr>
		</tbody>
</table>
<% end %>
</div>
