<style>
	td{
		padding: 1%;
	}
	.cart{
		/*width: 345px;*/
	}
	.green{
		color: green;
	}
	.qtyField{
		width: 35px;
	}
	.cartTable tr td{
    	padding: 2% 1%;
	}
	.prodImg{
/*		height: 400px;
		width: 400px;*/
	}
	.add{
		width: 90px;
	}
	.divRow{
		display: block;
	}
	.cell{
		display: inline-block;
	    width: 120px;
	    margin: 1%;
	}
	form{
		display: inline;
	}
</style>
<% @viewPrices.each do |key, val| %>
<% if val.is_a?(String) %>
<h1><%= val %></h1>
<% @name = val %>
<% end %>
<% end %>
<img src="http://dentalsquid.proscrapers.com/assets/uploads/4/<%= @code %>.jpg" onerror="this.onerror=null;this.src='https://ironguardsafety.com/wp-content/uploads/2014/12/ph.gif';" class="prodImg">
<h3>Manufacturer: <%= @man %></h3>
<h3>Manufacturer Number: <%= @num %></h3>
<h3>Distributor Number: <%= @code %></h3>
<% min = number_with_precision(@viewPrices["0"]["price"], :precision => 2) %>
<% @viewPrices.each do |key, val| %>
<% if val.is_a?(Hash) %>
<% val.each do |key, val| %>
<% if key == 'price' %>
	<% if number_with_precision(val, :precision => 2) < number_with_precision(min, :precision => 2) %>
		<% min = val %>
	<% end %>
<% end %>
<% end %>
<% end %>
<% end %>
<p><%= @description.product_detail %></p>
<div class="cartTable">
			<div class="divRow">
				<span class="cell">Distributor</span>
				<span class="cell">Price</span>
				<span class="cell">Quantity</span>
				<span class="cell"></span>
			</div>
				<% @viewPrices.each do |key, val| %>
				<div class="divRow">
				<% if val.is_a?(Hash) %>
				<% val.each do |key, val| %>
					<% if key == 'site_id' %>
						<% if val == '1' %>
							<% @dis = 'Patterson Dental' %>
							<span class="cell">Patterson Dental</span>
						<% elsif val == '2' %>
							<span class="cell">Safco Dental</span>
							<% @dis = 'Safco Dental' %>
						<% elsif val == '3' %>
							<span class="cell">Darby Dental</span>
							<% @dis = 'Darby Dental' %>
						<% elsif val == '4' %>
							<span class="cell">Henry Schein</span>
							<% @dis = 'Henry Schein' %>
						<% elsif val == '5' %>
							<span class="cell">Benco Dental</span>
							<% @dis = 'Benco Dental' %>
						<% end %>
					<% elsif key == 'price' %>
							<% @price = val %>
								<% if val == min %>
								<span class="cell green">$<%= number_with_precision(val, :precision => 2) %></span>
								<% else %>
								<span class="cell">$<%= number_with_precision(val, :precision => 2) %></span>
								<% end %>
					<% elsif key == 'product_id' %>
					<% else %>
					<% end %>
				<% end %>
					<form action="/products" method="post">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<span class="cell"><input type="number" class="qtyField" name="quantity" value="1" min="1"></span>
						<input type="hidden" name="distributor" value="<%= @dis %>">
						<input type="hidden" name="price" value="<%= @price %>">
						<input type="hidden" name="manufacturer" value="<%= @man %>">
						<input type="hidden" name="manufacturer_number" value="<%= @num %>">
						<input type="hidden" name="name" value="<%= @name %>">
						<input type="hidden" name="distributor_number" value="<%= @code %>"
					<span class="cell"><input type="submit" class="add" value="Add to Cart"></form></span>
				<% end %>
				</div>
				<% end %>
</div>